AIRFLOW_UID=50000

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW__WEBSERVER__SECRET_KEY=change_me_to_any_random_string

GREENPLUM_DB=dwh
GREENPLUM_USER=gpadmin
GREENPLUM_PASSWORD=gpadmin